---
layout: default
---
      <aside>
        <div class="profile">
          <figure>
            <img src="{{ site.data.personal_info.picture }}" alt="Profile picture" />

            <figcaption>
              <div class="name">{{ site.data.personal_info.name }}</div>
              <div class="profession">{{ site.data.personal_info.profession }}</div>
            </figcaption>
          </figure>
        </div>

        <div class="personal_info">
          <div class="item">
            <figure>
              <img src="images/icon_white_person.png" alt="{{ site.data.personal_info.quote }}" />
            </figure>

            <div class="body">
              {{ site.data.personal_info.quote }}
            </div>
          </div>

          <div class="item">
            <figure>
              <img src="images/icon_white_mail.png" alt="{{ site.data.locale.label.email }}" />
            </figure>

            <div class="body">
              {% include emails.html %}
            </div>
          </div>

          <div class="item">
            <figure>
              <img src="images/icon_white_language.png" alt="{{ site.data.locale.label.languages }}" />
            </figure>

            <div class="body">
              {% include languages.html %}
            </div>
          </div>

          <div class="item">
            <figure>
              <img src="images/icon_white_map.png" alt="{{ site.data.locale.label.location }}" />
            </figure>

            <div class="body">
              {% include location.html %}
            </div>
          </div>
        </div>
      </aside>

      <main>
        <div class="sections">
          <section class="personal_info">
            <header>
              <figure>
                <img src="images/icon_black_person.png" />
              </figure>

              <h1>{{ site.data.locale.label.personal_info }}</h1>
            </header>

            <div class="articles">
              <article>
                <header>
                  <b>{{ site.data.locale.label.email }}</b>
                </header>
                <div class="body">
                  {% include emails.html %}
                </div>
              </article>

              <article>
                <header>
                  <b>{{ site.data.locale.label.languages }}</b>
                </header>
                <div class="body">
                  {% include languages.html %}
                </div>
              </article>

              <article>
                <header>
                  <b>{{ site.data.locale.label.location }}</b>
                </header>
                <div class="body">
                  {% include location.html %}
                </div>
              </article>
            </div>
          </section>

          <section class="print_info">
            <header>
              <figure>
                <img src="images/icon_black_person.png" />
              </figure>

              <h1>{{ site.data.personal_info.name }}</h1>

              <div class="caption">{{ site.data.personal_info.profession }}</div>
            </header>

            <div class="articles">
              <article>
                {% include print_info.html %}
              </article>
            </div>
          </section>

          <section class="professional_history">
            <header>
              <figure>
                <img src="images/icon_black_work.png" />
              </figure>

              <h1>{{ site.data.locale.label.professional_history }}</h1>
            </header>

            <div class="articles">
              {% for item in site.data.professional_history reversed %}
                <article>
                  <header>
                    <b>{{ item.role }}</b>
                    -
                    {{ item.company }}
                  </header>
                  <div class="caption">{{ item.period }}</div>
                  <div class="description">
                    {{ item.description | markdownify }}
                  </div>
                </article>
              {% endfor %}
            </div>
          </section>

          <section class="academic_background">
            <header>
              <figure>
                <img src="images/icon_black_school.png" />
              </figure>

              <h1>{{ site.data.locale.label.academic_background }}</h1>
            </header>

            <div class="articles">
              {% for item in site.data.academic_background reversed %}
                <article>
                  <header>
                    <b>{{ item.class }}</b>
                    -
                    {{ item.institution }}
                  </header>
                  <div class="caption">{{ item.period }}</div>
                  <div class="description">
                    {{ item.description | markdownify }}
                  </div>
                </article>
              {% endfor %}
            </div>
          </section>
        </div>
      </main>
