html, body {
  height: 100%;
  margin: 0px;
  min-width: 360px;
  padding: 0px;
}

body {
  background: #F5F5F5;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
}

* {
  transition: all 150ms cubic-bezier(.4,0,1,1);
}

body > section {
  background: #EEEEEE;
  border-radius: 2px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.16),
              0  2px  5px rgba(0, 0, 0, 0.26);
  margin: auto;
  margin-bottom: 64px;
  margin-top: 64px;
  position: relative;
  width: 1160px;
}

section > aside {
  background: #4B96C0;
  bottom: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

section:after {
  clear: both;
  content: " ";
  display: block;
}

aside figure {
  margin: 0;
  padding: 0;
  position: relative;
}

aside figure img {
  display: block;
  height: 320px;
  width: 320px;
}

aside figure figcaption {
  bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
  left: 80px;
  position: absolute;
}

aside figure figcaption .name {
  font-size: 24px;
  line-height: 32px;
}

aside figure figcaption .profession {
  font-size: 15px;
  line-height: 28px;
}

aside .articles {
  margin-top: -4px;
}

aside .articles article {
  margin: 32px 0;
  position: relative;
}

aside .articles article figure {
  display: inline-block;
  left: 24px;
  position: absolute;
  width: 24px;
}

aside .articles article figure img {
  display: block;
  height: 24px;
  width: 24px;
}

aside .articles article .body {
  border-bottom: 1px solid rgba(35, 131, 179, 0.54);
  font-size: 13px;
  line-height: 24px;
  margin-left: 80px;
  padding-bottom: 32px;
  padding-right: 24px;
  text-align: justify;
}

aside .articles article:last-child .body {
  border-bottom: none;
}

aside .articles article .caption {
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
  line-height: 20px;
}

section > main {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  margin-left: 320px;
  min-height: 1024px;
  padding: 48px;
  width: 840px;
}

main .sections {
  margin-top: -32px;
}

main .sections .about {
  display: none;
}

main .sections section {
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12),
              0  1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  float: none;
  margin: 32px 0;
  padding: 24px;
  width: 744px;
}

main .sections section header {
  margin-top: 24px;
  /*height: 32px;*/
  position: relative;
}

main .sections section header figure {
  display: inline-block;
  margin: 0;
  padding: 4px;
  position: absolute;
  width: 24px;
}

main .sections section header figure img {
  display: block;
  height: 24px;
  width: 24px;
}

main .sections section header h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-left: 56px;
}

main .sections section .articles {
  margin-left: 56px;
  margin-right: 24px;
}

main .sections section .articles article {
  margin: 16px 0;
}

main .sections section .articles article header {
  font-size: 15px;
  line-height: 28px
}

main .sections section .articles article .caption {
  color: rgba(75, 150, 191, 0.87);
  font-size: 13px;
  line-height: 20px
}

main .sections section .articles article main {
  float: none;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  min-height: 0;
  padding: 0;
  text-align: justify;
  width: 100%;
}

main .sections section nav ul {
  margin: 0;
  padding: 0;
}

main .sections section nav ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
}

main .sections section nav ul li a {
  color: rgba(75, 150, 191, 0.87);
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
}

@media screen and (max-width: 1240px) {
  body > section {
    width: 632px;
  }

  section > aside {
    margin-left: 0;
    position: static;
    width: 632px;
  }

  aside figure img {
    height: 128px;
    width: 128px;
  }

  aside figure figcaption {
    top: 20px;
    font-family: "Roboto Condensed", sans-serif;
    left: 148px;
    position: absolute;
  }

  aside .articles {
    display: none;
    margin: 32px 0;
    position: relative;
  }

  section > main {
    margin-left: 0;
    min-height: 0;
    padding: 32px;
    width: 632px;
  }

  main .sections {
    margin-bottom: -32px;
  }

  main .sections section {
    width: auto;
  }

  main .sections section.about {
    display: block;
  }
}

@media screen and (max-width: 760px) {
  body > section {
    margin: 0;
    width: auto;
  }

  section > aside {
    width: auto;
  }

  aside figure img {
    height: 64px;
    width: 64px;
  }

  aside figure figcaption {
    left: 84px;
    top: 0;
  }

  section > main {
    margin: 0;
    padding: 0;
    width: auto;
  }

  main .sections {
    margin-top: 0;
  }

  main .sections section {
    box-shadow: none;
    border-bottom: 1px solid #B6B6B6;
    margin: 0;
    width: auto;
  }
}

@media screen and (max-width: 520px) {
  main .sections section header figure {
    display: none;
  }

  main .sections section header h1 {
    margin-left: 0;
  }

  main .sections section .articles {
    margin-left: 0;
  }

  main .sections section nav ul li {
    width: 100%;
  }
}
